#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

GIT_TAG := $(shell git describe --exact-match --tags HEAD 2>/dev/null)
GIT_HASH := $(shell git rev-parse --short HEAD 2>/dev/null || echo "unknown")
ifeq ($(GIT_TAG),)
  export DEB_VERSION_UPSTREAM_SUFFIX = +git$(GIT_HASH)
endif

%:
	dh $@

override_dh_auto_test:
	$(MAKE) check || true

override_dh_gencontrol:
ifeq ($(GIT_TAG),)
	dh_gencontrol -- -v$(shell dpkg-parsechangelog -S Version)+git$(GIT_HASH)
else
	dh_gencontrol
endif
